# Preprocesing

---
**Authors**:
-  *Juan P. Zaldivar E.*
-  *Enrique Millán X.*
---

## Introduction

This file contains the preprocessing required for the datasets. The datasets are:
- Colissions dataset.
- Weather dataset.
- New York Map.


<!-- explicar que primer se hace una exploracion visual y luego el preprocesing? -->

The datasets are located in the folder `Data/` and the results are saved in the folder `Data/Preprocessed/`. Following are the loading of each dataset and the import of the required libraries.

In [1]:
# !pip install numpy
# comentar las versiones de los paquetes

### Import libraries

In [2]:
import os
import numpy as np
import pandas as pd

## Load datasets

In [3]:
dir = './Data'
colission_exists = False

### Colissions dataset

In [4]:
if os.path.exists(f'{dir}/collisions_2018-2020.csv'):
    collision = pd.read_csv(f'{dir}/collisions_2018-2020.csv')
    colission_exists = True
else:
    collision = pd.read_csv(f'{dir}/collisions.csv')

collision.shape, collision.columns

((115740, 29),
 Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
        'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
        'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
        'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
        'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
        'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
        'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
        'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
        'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
        'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
        'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
       dtype='object'))

In [5]:
collision.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-09-06,18:05,NaN,NaN,40.771038,-73.83413,"(40.771038, -73.83413)",WHITESTONE EXPRESSWAY,NaN,NaN,...,Following Too Closely,NaN,NaN,NaN,4345591,Station Wagon/Sport Utility Vehicle,Motorcycle,NaN,NaN,NaN
1,2020-09-20,9:14,NaN,NaN,40.722095,-73.77772,"(40.722095, -73.77772)",GRAND CENTRAL PKWY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4459141,Sedan,Pick-up Truck,NaN,NaN,NaN
2,2020-09-24,22:00,MANHATTAN,10039.0,40.824757,-73.94052,"(40.824757, -73.94052)",8 AVENUE,WEST 148 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4461437,Sedan,Motorscooter,NaN,NaN,NaN
3,2020-08-06,5:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120 Huge Grant Circle,...,Unspecified,NaN,NaN,NaN,4336560,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2020-08-01,17:16,BRONX,10462.0,40.840508,-73.85515,"(40.840508, -73.85515)",METROPOLITAN AVENUE,LINDEN DRIVE,NaN,...,Unspecified,NaN,NaN,NaN,4334713,Sedan,E-Bike,NaN,NaN,NaN

In [6]:
collision['CRASH DATE'] = pd.to_datetime(collision['CRASH DATE'])
collision.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-09-06,18:05,NaN,NaN,40.771038,-73.83413,"(40.771038, -73.83413)",WHITESTONE EXPRESSWAY,NaN,NaN,...,Following Too Closely,NaN,NaN,NaN,4345591,Station Wagon/Sport Utility Vehicle,Motorcycle,NaN,NaN,NaN
1,2020-09-20,9:14,NaN,NaN,40.722095,-73.77772,"(40.722095, -73.77772)",GRAND CENTRAL PKWY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4459141,Sedan,Pick-up Truck,NaN,NaN,NaN
2,2020-09-24,22:00,MANHATTAN,10039.0,40.824757,-73.94052,"(40.824757, -73.94052)",8 AVENUE,WEST 148 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4461437,Sedan,Motorscooter,NaN,NaN,NaN
3,2020-08-06,5:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120 Huge Grant Circle,...,Unspecified,NaN,NaN,NaN,4336560,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2020-08-01,17:16,BRONX,10462.0,40.840508,-73.85515,"(40.840508, -73.85515)",METROPOLITAN AVENUE,LINDEN DRIVE,NaN,...,Unspecified,NaN,NaN,NaN,4334713,Sedan,E-Bike,NaN,NaN,NaN

In [7]:
if not colission_exists:
    collision = collision[((collision['CRASH DATE'] >= '2018-06-01') & (collision['CRASH DATE'] <= '2018-09-30')) | ((collision['CRASH DATE'] >= '2020-06-01') & (collision['CRASH DATE'] <= '2020-09-30'))]
    collision.to_csv(f'{dir}/colissions_2018-2020.csv', index=False)

collision.shape

(115740, 29)

### Weather dataset

In [8]:
weather = pd.read_csv(f'{dir}/weather.csv')
weather.shape, weather.columns

((12204, 30),
 Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'AWND',
        'AWND_ATTRIBUTES', 'DAPR', 'DAPR_ATTRIBUTES', 'MDPR', 'MDPR_ATTRIBUTES',
        'PRCP', 'PRCP_ATTRIBUTES', 'SNOW', 'SNOW_ATTRIBUTES', 'SNWD',
        'SNWD_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES', 'TMAX', 'TMAX_ATTRIBUTES',
        'TMIN', 'TMIN_ATTRIBUTES', 'TOBS', 'TOBS_ATTRIBUTES', 'WESD',
        'WESD_ATTRIBUTES', 'WESF', 'WESF_ATTRIBUTES'],
       dtype='object'))

In [9]:
weather.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,DAPR,DAPR_ATTRIBUTES,...,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,TOBS,TOBS_ATTRIBUTES,WESD,WESD_ATTRIBUTES,WESF,WESF_ATTRIBUTES
0,US1NJBG0010,"RIVER VALE TWP 1.5 S, NJ US",40.99145,-74.012348,9.4,2018-03-02,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1NJBG0010,"RIVER VALE TWP 1.5 S, NJ US",40.99145,-74.012348,9.4,2018-03-03,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1NJBG0010,"RIVER VALE TWP 1.5 S, NJ US",40.99145,-74.012348,9.4,2018-04-16,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1NJBG0010,"RIVER VALE TWP 1.5 S, NJ US",40.99145,-74.012348,9.4,2018-04-17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1NJBG0010,"RIVER VALE TWP 1.5 S, NJ US",40.99145,-74.012348,9.4,2018-04-19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Colission dataset preprocessing

In [10]:
# check if there is a row with no NaN values in the 'ON STREET NAME' column and the 'OFF STREET NAME' column
collision[(collision['ON STREET NAME'].notnull()) & (collision['OFF STREET NAME'].notnull())].shape

(0, 29)

In [11]:
collision[(collision['ON STREET NAME'].notnull()) | (collision['OFF STREET NAME'].notnull())].shape

(115514, 29)

---

In [12]:
# mirara si todas las que tienen longitud y latitud tienen location para ver si se pueden eliminar
collision[(collision['LOCATION'].notnull()) & (collision['LATITUDE'].notnull()) & (collision['LONGITUDE'].notnull())].shape

(108073, 29)

In [13]:
# todas las que tienen location tienen longitud y latitud, por lo que podemos precindir de las columnas de longitud y latitud
collision[(collision['LOCATION'].isnull())].shape

(7667, 29)

In [14]:
collision[(collision['LOCATION'].isnull()) & (collision['LATITUDE'].notnull()) & (collision['LONGITUDE'].notnull())].shape

(0, 29)

In [15]:
collision[(collision['LATITUDE'].isnull()) & (collision['LONGITUDE'].notnull()) | (collision['LATITUDE'].notnull()) & (collision['LONGITUDE'].isnull())].shape

(0, 29)

---
CROSS STREET se podria eliminar, ya que es la calle mas cercana y no aporta valor.

---
se ha realizado un cluster (con el metodo *key collision* y funcion de keying *fingerprint*) de STREET NAME y se han unido las celdas con nombres semejantes.

Luego se han eliminado los espacios sobrantes de la columna STREET NAME.

---

solo hay 6 valores null

In [16]:
print(collision['NUMBER OF PERSONS INJURED'].isnull().sum(),
collision['NUMBER OF PERSONS KILLED'].isnull().sum(),
collision['NUMBER OF PEDESTRIANS INJURED'].isnull().sum(),
collision['NUMBER OF PEDESTRIANS KILLED'].isnull().sum(),
collision['NUMBER OF CYCLIST INJURED'].isnull().sum(),
collision['NUMBER OF CYCLIST KILLED'].isnull().sum(),
collision['NUMBER OF MOTORIST INJURED'].isnull().sum(),
collision['NUMBER OF MOTORIST KILLED'].isnull().sum())

2 4 0 0 0 0 0 0

In [17]:
print(collision['NUMBER OF PERSONS INJURED'].isna().sum(),
collision['NUMBER OF PERSONS KILLED'].isna().sum(),
collision['NUMBER OF PEDESTRIANS INJURED'].isna().sum(),
collision['NUMBER OF PEDESTRIANS KILLED'].isna().sum(),
collision['NUMBER OF CYCLIST INJURED'].isna().sum(),
collision['NUMBER OF CYCLIST KILLED'].isna().sum(),
collision['NUMBER OF MOTORIST INJURED'].isna().sum(),
collision['NUMBER OF MOTORIST KILLED'].isna().sum())

2 4 0 0 0 0 0 0

## Weather dataset preprocessing

In [18]:
weather['STATION'].unique()

array(['US1NJBG0010', 'US1NJBG0044', 'US1NYWC0034', 'US1NJBG0023',
       'US1NYWC0011', 'US1NYWC0007', 'US1NYWC0018', 'US1NJBG0058',
       'US1NJBG0037', 'US1NYWC0015', 'US1NYWC0037', 'US1NJBG0017',
       'US1NJBG0039', 'US1NYWC0032', 'US1NJPS0022', 'US1NYRL0005',
       'US1NYWC0019', 'US1NJBG0030', 'US1NYRL0008', 'USC00307742'],
      dtype=object)