# Preprocesing

---
**Authors**:
-  *Juan P. Zaldivar E.*
-  *Enrique Millán X.*
---

## Introduction

This file contains the preprocessing required for the datasets. The datasets are:
- Colissions dataset.
- Weather dataset.
- New York Map.


<!-- explicar que primer se hace una exploracion visual y luego el preprocesing? -->

The datasets are located in the folder `Data/` and the results are saved in the folder `Data/Preprocessed/`. Following are the loading of each dataset and the import of the required libraries.

In [34]:
# !pip install numpy
# comentar las versiones de los paquetes

### Import libraries

In [35]:
import os
import numpy as np
import pandas as pd

## Load datasets

In [36]:
dir = './Data'
colission_exists = False

### Colissions dataset

In [37]:
if os.path.exists(f'{dir}/colissions_2018-2020.csv'):
    colission = pd.read_csv(f'{dir}/colissions_2018-2020.csv')
    colission_exists = True
else:
    colission = pd.read_csv(f'{dir}/colissions.csv')

colission.shape, colission.columns

C:\Users\jpniz\AppData\Local\Temp\ipykernel_17904\331632089.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  colission = pd.read_csv(f'{dir}/colissions_2018-2020.csv')

((2005512, 29),
 Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
        'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
        'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
        'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
        'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
        'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
        'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
        'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
        'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
        'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
        'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
       dtype='object'))

In [38]:
colission.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [39]:
if not colission_exists:
    colission = colission[(colission['CRASH DATE'] >= '01/06/2018') & (colission['CRASH DATE'] <= '31/09/2020')]
    colission.to_csv(f'{dir}/colissions_2018-2020.csv', index=False)

colission.shape

(2005512, 29)

### Weather dataset

In [40]:
weather = pd.read_csv(f'{dir}/weather.csv')
weather.shape, weather.columns

((12204, 30),
 Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'AWND',
        'AWND_ATTRIBUTES', 'DAPR', 'DAPR_ATTRIBUTES', 'MDPR', 'MDPR_ATTRIBUTES',
        'PRCP', 'PRCP_ATTRIBUTES', 'SNOW', 'SNOW_ATTRIBUTES', 'SNWD',
        'SNWD_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES', 'TMAX', 'TMAX_ATTRIBUTES',
        'TMIN', 'TMIN_ATTRIBUTES', 'TOBS', 'TOBS_ATTRIBUTES', 'WESD',
        'WESD_ATTRIBUTES', 'WESF', 'WESF_ATTRIBUTES'],
       dtype='object'))

In [41]:
weather.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,DAPR,DAPR_ATTRIBUTES,...,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,TOBS,TOBS_ATTRIBUTES,WESD,WESD_ATTRIBUTES,WESF,WESF_ATTRIBUTES
0,US1NJBG0010,"RIVER VALE TWP 1.5 S, NJ US",40.99145,-74.012348,9.4,2018-03-02,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1NJBG0010,"RIVER VALE TWP 1.5 S, NJ US",40.99145,-74.012348,9.4,2018-03-03,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1NJBG0010,"RIVER VALE TWP 1.5 S, NJ US",40.99145,-74.012348,9.4,2018-04-16,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1NJBG0010,"RIVER VALE TWP 1.5 S, NJ US",40.99145,-74.012348,9.4,2018-04-17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1NJBG0010,"RIVER VALE TWP 1.5 S, NJ US",40.99145,-74.012348,9.4,2018-04-19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Colission dataset preprocessing

## Weather dataset preprocessing

In [42]:
weather['STATION'].unique()

array(['US1NJBG0010', 'US1NJBG0044', 'US1NYWC0034', 'US1NJBG0023',
       'US1NYWC0011', 'US1NYWC0007', 'US1NYWC0018', 'US1NJBG0058',
       'US1NJBG0037', 'US1NYWC0015', 'US1NYWC0037', 'US1NJBG0017',
       'US1NJBG0039', 'US1NYWC0032', 'US1NJPS0022', 'US1NYRL0005',
       'US1NYWC0019', 'US1NJBG0030', 'US1NYRL0008', 'USC00307742'],
      dtype=object)